{% extends "home/tes.html" %}
{% load humanize %}
{% block content %}
<h1>Partner Commissions</h1>

<table>
<thead>
  <tr>
    <th>Partner Name</th>
    <th>Total Commission</th>
    <th>Total Courses</th>
  </tr>
</thead>
<tbody>
  {% for commission in commissions %}
     <pre>{{ commissions }}</pre>
{% endfor %}

</tbody>
</table>


<!-- Pagination controls -->
<div>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span>Page {{ page_obj.number }} of {{ paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
</div>



{% endblock %}
