{% extends 'home/tes.html' %}
{% load static %}

{% block content %}




<!-- Application Form Section -->
<!-- Application Form Section -->


            <form method="POST" enctype="multipart/form-data" novalidate>
              {% csrf_token %}

              <!-- Enhanced form rendering -->
              <div class="row g-3">
                {{ form.as_p }}
              </div>

              <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary btn-lg w-50">
                  Submit Application
                </button>
              </div>
            </form>


<style>
  .select2-container--bootstrap-5 .select2-selection {
    padding: 0.375rem 0.75rem;
    height: auto;
    border-radius: 0.375rem;
    font-size: 1rem;
  }

  .select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
    line-height: 1.5;
  }

  .select2-results__option {
    padding: 0.5rem 1rem;
  }

  .select2-container--bootstrap-5 .select2-selection--single {
    height: calc(2.5rem + 2px);
    line-height: calc(2.5rem + 2px);
  }

  .select2-container--bootstrap-5 .select2-selection--single .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
  }
</style>



<!-- Inisialisasi Select2 -->
<script>
  $(document).ready(function () {
    $('.django-autocomplete-light-widget select').select2({
      theme: 'bootstrap-5',
      width: '100%',
      dropdownAutoWidth: true,
      placeholder: 'Type to search...',
    });
  });
</script>



{% endblock %}
