{% extends 'home/tes.html' %}
{% block content %}

      <div class="tile">
        <h3 class="tile-title">upload image</h3>
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        <div class="tile-body">
          <form  method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
          
            
            {{ form.photo }}
              
              </div>
           
          
          
            <div class="row">
           

         
       
          
            <div class="tile-footer">
              &nbsp;
              <br>
              <button class="btn btn-primary"  type="submit"><i class="bi bi-check-circle-fill me-2"></i>submit now</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="{% url 'authentication:dasbord'%}"><i class="bi bi-x-circle-fill me-2"></i>Cancel</a>
            </div>
          </form>
        </div>
       
      </div>




{% endblock %}