{% load static %}

<header class="header header-page">
    <div class="header-fixed">
        <nav class="navbar navbar-expand-lg header-nav scroll-sticky">
            <div class="container ">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a href="index.html" class="navbar-brand logo">
                        <img src="{% static "assets/img/logo.svg"%}" class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="index.html" class="menu-logo">
                            <img src="{% static "assets/img/logo.svg"%}" class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                 
                </div>
                <ul class="nav header-navbar-rht">

                    <li class="nav-item user-nav">
                        <div>
                            <a href="javascript:void(0);" id="dark-mode-toggle" class="dark-mode-toggle  ">
                                <i class="fa-solid fa-moon"></i>
                            </a>
                            <a href="javascript:void(0);" id="light-mode-toggle" class="dark-mode-toggle ">
                                <i class="fa-solid fa-sun"></i>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item user-nav">
                        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                            <span class="user-img">
                                {% if user.photo %}
                                <img src="{{ user.photo.url }}" alt="Img">
                                {% elif not user.photo %}
                                <img src="{% static "assets/img/user/user1.jpg"%}" alt="Img">
                                {% endif %}
                                <span class="status online"></span>
                            </span>
                        </a>
                        <div class="users dropdown-menu dropdown-menu-right" data-popper-placement="bottom-end">
                            <div class="user-header">
                                <div class="avatar avatar-sm">
                                    {% if user.photo %}
                    
                                    <a href="instructor-profile.html"><img src="{{ user.photo.url }}"
                                        alt="Img" class="avatar-img rounded-circle"></a>
                                        {% elif not user.photo %}
                                        
                                        <a href="instructor-profile.html"><img src="{% static "assets/img/user/user1.jpg"%}"
                                            alt="Img" class="avatar-img rounded-circle"></a>
                                            {% endif %}
                                    
                                </div>
                                <div class="user-text">
                                    <h6>{{user.username}}</h6>
                                    <p class="text-muted mb-0">{{user.email}}</p>
                                </div>
                            </div>
                            {% if user.username%}
                            <a class="dropdown-item" href="{% url 'dasbord'%}"><i
                                    class="feather-home me-1"></i> Dashboard</a>
                                    
                            <a class="dropdown-item" href="{% url 'profile' user.username %}"><i
                                    class="feather-star me-1"></i>Profile</a>
                                
                            <a class="dropdown-item" href="{% url 'logout' %}"><i class="feather-log-out me-1"></i>
                                Logout</a>
                                {% elif  not user.username %}
                                <a  class="dropdown-item" href="{% url 'logout' %}"><i class="feather-log-out me-1"></i>
                                    Logout
                                </a>
                                {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>