{% for post in posts %}
    {% include 'home/post_item.html' %}
    <br>
{% empty %}
    <p>Tidak ada post untuk ditampilkan.</p>
{% endfor %}
{% if posts.has_other_pages %}
    <nav class="mt-3">
        <ul class="pagination">
            {% if posts.has_previous %}
                <li class="page-item">
                    <a class="page-link" hx-get="{% url 'courses:load_posts' %}?page={{ posts.previous_page_number }}" hx-target="#post-list">Sebelumnya</a>
                </li>
            {% endif %}
            {% for num in posts.paginator.page_range %}
                <li class="page-item {% if posts.number == num %}active{% endif %}">
                    <a class="page-link" hx-get="{% url 'courses:load_posts' %}?page={{ num }}" hx-target="#post-list">{{ num }}</a>
                </li>
            {% endfor %}
            {% if posts.has_next %}
                <li class="page-item">
                    <a class="page-link" hx-get="{% url 'courses:load_posts' %}?page={{ posts.next_page_number }}" hx-target="#post-list">Selanjutnya</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}