{% extends 'home/base.html' %}
{% load static %}
{% block content %}
    <div class="container py-4">
        <h1 class="h2 font-weight-bold mb-4 text-center">My Started Courses</h1>

        <!-- Check if there are any started courses -->
        {% if courses %}
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                {% for course in courses %}
                    <div class="col">
                        <div class="card shadow">
                            {% if course.image %}
                                <img src="{{ course.image.url }}" class="card-img-top" alt="{{ course.title }}">
                            {% else %}
                                <img src="https://via.placeholder.com/150" class="card-img-top" alt="No image available">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ course.course_name }}</h5>
                                <p class="card-text">{{ course.description }}</p>
                                <p class="card-text"><strong>Instructor:</strong> {{ course.instructor.user.first_name }} {{ course.instructor.user.last_name }}</p>
                                <a href="" class="btn btn-primary">Go to Course</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No started courses found.</p>
        {% endif %}
    </div>
{% endblock %}