asgiref==3.8.1
diff-match-patch==20230430
Django==5.1.1
django-autoslug==1.9.9
django-ckeditor-5==0.2.15
django-cleanup==9.0.0
django-htmx==1.21.0
django-import-export==4.1.1
django-resized==1.0.3
django-taggit==6.1.0
pillow==10.4.0
sqlparse==0.5.1
tablib==3.5.0
