{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">invite users</h3>
<form method="POST">
    {% csrf_token %}
    <label for="email">Enter email to invite:</label>
    <input type="email" class="form-control" name="email" required>
    <br>
    <button type="submit" class="btn btn-success">Send Invitation</button>
</form>
</div>
{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}
</div>

<table class="table table-striped table-hover">
    <thead>
      <tr>
        
        <th scope="col">email</th>
        <th scope="col">status</th>
        <th scope="col">date invite</th>
      </tr>
    </thead>
    <tbody>
        {% for invs in inv %}
      <tr>
        
        <td>{{invs.email}}</td>
        <td>{{invs.accepted}}</td>
        <td>{{invs.created_at}}</td>
      </tr>
      {% endfor %}
     
    </tbody>
  </table>

</div>
{% endblock %}