{% extends 'home/base.html' %}
{% block content %}
<div class="page-content">
  <div class="container">
    <div class="row">
      {% include "home/sidebar.html" %}
      
      <div class="col-xl-9 col-lg-9 col-md-12">
        <div class="support-wrap">
          <div class="tile">
            <h3 class="tile-title">Create New Partner</h3>
            
            <div class="tile-body">
              <form  method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
               
                  &nbsp;
                <div class="tile-footer">
                  <button class="btn btn-primary" type="submit">
                    <i class="bi bi-check-circle-fill me-2"></i>Create Now
                  </button>
                  <a class="btn btn-secondary" href="{% url 'courses:partner_view'%}">
                    <i class="bi bi-x-circle-fill me-2"></i>Cancel
                  </a>
                </div>
              </form>

                

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.select2').select2({
      //placeholder: 'Search for a user',
      ajax: {
        url: '{% url "courses:search_users" %}',  // This should be an endpoint that returns users based on a search term
        dataType: 'json',
        delay: 250,  // Delay in milliseconds to wait for the user to stop typing
        data: function (params) {
          return {
            q: params.term  // Search term
          };
        },
        processResults: function (data) {
          return {
            results: data.users  // Data structure should be { users: [{id, text}, ...] }
          };
        }
      }
    });
  });
</script>
<script>
  $(document).ready(function() {
    $('.select1').select2({
      //placeholder: 'Search for a user',
      ajax: {
        url: '{% url "courses:search_partner" %}',  // This should be an endpoint that returns users based on a search term
        dataType: 'json',
        delay: 250,  // Delay in milliseconds to wait for the user to stop typing
        data: function (params) {
          return {
            q: params.term  // Search term
          };
        },
        processResults: function (data) {
          return {
            results: data.partners  // Data structure should be { users: [{id, text}, ...] }
          };
        }
      }
    });
  });
</script>
{% endblock %}
