{% extends 'home/base.html' %}
{% block content %}
<div class="page-content">
  <div class="container">
    <div class="row">
      {% include "home/sidebar.html" %}
      
      <div class="col-xl-9 col-lg-9 col-md-12">
        <div class="support-wrap">
          <div class="tile">
            <h3 class="tile-title">Create New Partner</h3>
            
            <div class="tile-body">
              <form id="submitFormPartner" method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
               

                <div class="tile-footer">
                  <button class="btn btn-primary" type="submit">
                    <i class="bi bi-check-circle-fill me-2"></i>Create Now
                  </button>
                  <a class="btn btn-secondary" href="{% url 'courses:partner_view'%}">
                    <i class="bi bi-x-circle-fill me-2"></i>Cancel
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
