{% extends 'base.html' %}
{% block content %}
<h1>tabel partner<h1>
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>name</th>
        <th>email</th>
        <th>phone</th>
        <th>status</th>
        <th>join</th>
      </tr>
    </thead>
    <tbody>
      {% for part in partnerlist %}
      <tr>
        <td>1</td>
        <td><a href="{% url 'partner:partner_edit' part.id %}">{{part.partner_name}}</a></td>
        <td>{{part.e_mail}}</td>
        <td>{{part.phone}}</td>
        <td>
          {% if part.status == '1' %}
          <span class="badge text-bg-primary">active</span>
          {% else %}
          <span class="badge text-bg-warning">inactive</span>
          {% endif %}
        </td>
        <td>{{part.join}}</td>
      </tr>
     {% endfor %}
    </tbody>
  </table>
  {% endblock %}