{% extends 'home/base.html' %}
{% block content %}
<div class="page-content">
  <div class="container">
 
  <div class="row">
    {% include "home/sidebar.html" %}
    <div class="col-xl-9 col-lg-9">
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title">Update partner</h3>
        <div class="tile-body">
          <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            
            {{ form.as_p }}
            {{form.media}}
          
            <div class="tile-footer">
              <button class="btn btn-warning"  type="submit"><i class="bi bi-check-circle-fill me-2"></i>update</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="{% url 'courses:partner_view'%}"><i class="bi bi-x-circle-fill me-2"></i>Cancel</a>
            </div>
          </form>
        </div>
       
      </div>
    </div>
    

 
  </div>

</div>
</div>
</div>
{% endblock %}