{% extends 'home/base.html' %}
{% block content %}

<div class="page-content">
  <div class="container">
  <div class="row">

      



    {% include "home/sidebar.html" %}
    <div class="col-xl-9 col-lg-9">
      <div class="support-wrap">
        <h1>Add New MicroCredential</h1>

        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}  <!-- Render form fields -->
          {{ form.media }}
          <button type="submit" class="btn btn-success">Save</button>
        </form>

      <br>
    <a href="{% url 'courses:microcredential-list' %}">Cancel</a>  <!-- Link to go back to the list -->

   </div>
  </div>
    

 
  </div>

  
</div>
    

 
</div>

<script>
  $(document).ready(function() {
    $('.select2').select2({
      placeholder: 'Search for a course',  // Add a placeholder for better UX
      ajax: {
        url: '{% url "courses:course_autocomplete" %}',  // URL for your autocomplete endpoint
        dataType: 'json',
        delay: 250,  // Delay to wait for user to stop typing
        data: function (params) {
          return {
            q: params.term  // Send the search term as a parameter
          };
        },
        processResults: function (data) {
          return {
            results: data.results  // Assuming response contains a "results" key with list of courses
          };
        },
        cache: true  // Optional: improves performance by caching requests
      },
      minimumInputLength: 1  // Wait until the user types at least one character
    });
  });
</script>

<script>
  function slugify(text) {
    return text
      .toString() // Cast to string
      .toLowerCase() // Convert the string to lowercase letters
      .normalize('NFD') // The normalize() method returns the Unicode Normalization Form of a given string.
      .trim() // Remove whitespace from both sides of a string
      .replace(/\s+/g, '-') // Replace spaces with -
      .replace(/[^\w\-]+/g, '') // Remove all non-word chars
      .replace(/\-\-+/g, '-'); // Replace multiple - with single -
  }
  
  function listingslug(text) {
    document.getElementById("id_slug").value = slugify(text);
  }
</script>

{% endblock %}