{% extends 'home/base.html' %}
{% block content %}

<div class="page-content">
  <div class="container">
  <div class="row">

      



    {% include "home/sidebar.html" %}
    <div class="col-xl-9 col-lg-9">
      <div class="support-wrap">
<h1>Edit MicroCredential: {{ microcredential.title }}</h1>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Render form fields -->
     {{ form.media }}
    <button type="submit">Update</button>
  </form>

  <br>
  <a href="{% url 'courses:microcredential-list' %}">Cancel</a>  <!-- Link to go back to the list -->
   </div>
  </div>
    

 
  </div>

  
</div>
    

 
</div>
{% endblock %}