{% extends 'home/base.html' %}
{% block content %}

<div class="page-content">
  <div class="container">
  <div class="row">

      



    {% include "home/sidebar.html" %}
    <div class="col-xl-9 col-lg-9">
      <div class="support-wrap">
{% for microcredential in microcredentials %}
    <div>
        <h2><a href="{% url 'courses:microcredential-detail' microcredential.pk %}">{{ microcredential.title }}</a></h2>
        <p>{{ microcredential.description }}</p>
        <p>Status: {{ microcredential.get_status_display }}</p>
        <p><a href="{% url 'courses:microcredential-update' microcredential.pk %}">Edit</a></p>
        <p><a href="{% url 'courses:microcredential-delete' microcredential.pk %}">Delete</a></p>
    </div>
{% endfor %}
 </div>
  </div>
    

 
  </div>

  
</div>
    

 
</div>
{% endblock %}