{% extends 'home/base.html' %}
{% block content %}
<div class="page-content">
    <div class="container">
      <div class="row">
        {% include "home/sidebar.html" %}
        <div class="col-xl-9 col-lg-9">
      

            <h1 class="h2">all user</h1>
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><span class="badge bg-warning text-dark">{{ message }}</span></li>
            {% endfor %}
            </ul>
            {% endif %}
          
            <div class="btn-toolbar mb-2 mb-md-0">
          
              
          
              <div class="btn-group me-2">
                <a type="button" href="{%  url "learner:learner_add" %}" class="btn btn-outline-success">Add learner</a>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <form class="d-flex" action="/learner" hx-get="/" hx-target="#content-div" hx-push-url="true"  >
                <input class="form-control mr-0" type="search" value="{{request.GET.q}}"  name="q" placeholder="Search Learner" aria-label="Search">
              </form>
              
            
          
            </div>
            <p  >
              {% if request.GET.q is not null %}
                Search Results Course "{{ request.GET.q }}" &nbsp; <a href="{% url "learner:learner_view"%}">back</a>
              {% endif %}
            </p>
            <table class="table table-hover">
              <thead>
                <tr>
                  
                  <th scope="col">username</th>
                  <th scope="col">email</th>
                  <th scope="col">joined and last</th>
                  <th scope="col">status</th>
                </tr>
              </thead>
          
              <tbody>
          
                  {% for post in page %}
                <tr>
                  
                  <td >  <a href="{% url 'learner:learner_edit' post.id %}"> {{ post.username }}</a></td>
                  <td>   {{ post.email }}</td>
                  <td>   {{ post.date_joined }} and <span class="badge bg-success"> {{ post.last_login}} </span></td>
                  <td>
                    {% if post.is_active == 1 %}
                    <span class="badge bg-primary">active</span>
                  {% else %}
                  <span class="badge bg-warning text-dark">inactive</span>
                  {% endif%}
                </td>
                </tr>
          
                {% endfor %}
                
              </tbody>
            </table>
            <p>total {{ count }} ||  page {{page.number }}/ {{page.paginator.num_pages}}</p>
          
            <div class="row">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                   
                  <li class="page-item">
                    {% if page.has_previous %}
                    <a class="page-link" href="?page={{page.previous_page_number}} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous</a>
                    {% endif %}
                </li>
                {% for num_page in page.paginator.page_range %}
                
                {% if page.number == num_page %}
                  <li class="page-item"><a class="page-link" href="?page={{page.number}} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{page.number}}</a></li>
                 
                  {% endif %}
                 
            
                  
            
            
            
                  {% endfor %}
                  <li class="page-item">
                    {% if page.has_next %}
                    <a class="page-link" href="?page={{page.next_page_number}} {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a>
                    {% endif %}
                </li>
                </ul>
              </nav>
            
            </div>



        </div>

      </div>
    </div>
</div>
  {% endblock %}