{% extends 'home/base.html' %}
{% load static %} 

{% block content %}


<div class="page-content">
    <div class="container">
        <div class="row">

            <!-- sidebar -->
            {% include "learner/sidebar.html" %}
            <!-- /Sidebar -->

            		<!-- Student Dashboard -->
					<div class="col-xl-9 col-lg-9">

						<!-- Dashboard Grid -->
						<div class="row justify-content-center">
							<div class="col-lg-4 col-md-6 d-flex">
								<div class="card dash-info flex-fill">
									<div class="card-body">
										<h5>Enrolled Courses</h5>
										<h2>12</h2>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 d-flex">
								<div class="card dash-info flex-fill">
									<div class="card-body">
										<h5>Active Courses</h5>
										<h2>03</h2>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 d-flex">
								<div class="card dash-info flex-fill">
									<div class="card-body">
										<h5>Completed Courses</h5>
										<h2>13</h2>
									</div>
								</div>
							</div>
						</div>
						<!-- /Dashboard Grid -->

						<div class="dashboard-title">
							<h4>Recently Enrolled Courses</h4>
						</div>

                        {% if enrollments %}
						<div class="row">
                            {% for enrollment in enrollments %}
							<!-- Course Grid -->
							<div class="col-xxl-4 col-md-6 d-flex">
								<div class="course-box flex-fill">
									<div class="product">
										<div class="product-img">
											<a href="course-details.html">
												<img class="img-fluid" alt="Img" src="{{ enrollment.course.image.url }}">
											</a>
											<div class="price">
												<h3>$80 <span>$99.00</span></h3>
											</div>
										</div>
										<div class="product-content">
											<div class="course-group d-flex">
												<div class="course-group-img d-flex">
													<a href="instructor-profile.html"><img
															src="{{ enrollment.course.instructor.user.photo.url }}" alt="Img"
															class="img-fluid"></a>
													<div class="course-name">
														<h4><a href="instructor-profile.html">{{ enrollment.course.instructor.user.username }}</a></h4>
														<p>Instructor</p>
													</div>
												</div>
												<div
													class="course-share d-flex align-items-center justify-content-center">
													<a href="#"><i class="fa-regular fa-heart"></i></a>
												</div>
											</div>
											<h3 class="title instructor-text"><a href="course-details.html">{{ enrollment.course.course_name }}</a></h3>
											<div class="course-info d-flex align-items-center">
												<div class="rating-img d-flex align-items-center">
													<img src="assets/img/icon/icon-01.svg" alt="Img">
													<p>12+ Lesson</p>
												</div>
												<div class="course-view d-flex align-items-center">
													<img src="assets/img/icon/icon-02.svg" alt="Img">
													<p>70hr 30min</p>
												</div>
											</div>
											<div class="rating mb-0">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<span class="d-inline-block average-rating"><span>5.0</span> (20)</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /Course Grid -->
                            {% endfor %}
                          



						</div>



						   <!-- Pagination for enrollments -->
                    <div class="dash-pagination">
                        <div class="row align-items-center">
                            <!-- Page Information -->
                            <div class="col-6">
                                <p>Page {{ enrollments.number }} of {{ enrollments.paginator.num_pages }}</p>
                            </div>
                            
                            <!-- Pagination Controls -->
                            <div class="col-6">
                                <ul class="pagination justify-content-end">
                                    <!-- Previous Page Button -->
                                    {% if enrollments.has_previous %}
                                        <li>
                                            <a href="?enrollments_page={{ enrollments.previous_page_number }}&search={{ search_query }}">
                                                <i class="bx bx-chevron-left"></i>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="disabled">
                                            <a href="#"><i class="bx bx-chevron-left"></i></a>
                                        </li>
                                    {% endif %}
                                    
                                    <!-- Page Number Links -->
                                    {% for page_num in enrollments.paginator.page_range %}
                                        <li class="{% if enrollments.number == page_num %}active{% endif %}">
                                            <a href="?enrollments_page={{ page_num }}&search={{ search_query }}">{{ page_num }}</a>
                                        </li>
                                    {% endfor %}
                                    
                                    <!-- Next Page Button -->
                                    {% if enrollments.has_next %}
                                        <li>
                                            <a href="?enrollments_page={{ enrollments.next_page_number }}&search={{ search_query }}">
                                                <i class="bx bx-chevron-right"></i>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="disabled">
                                            <a href="#"><i class="bx bx-chevron-right"></i></a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                {% else %}
                    <p>No enrollments found.</p>
                {% endif %}

					</div>
					<!-- Student Dashboard -->

        </div>
    </div>
</div>


{% endblock content %}