{% extends 'base.html' %}
{% block content %}
<div class="page-content">
  <div class="container">
 
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title">add learner</h3>
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}

        <div class="tile-body">
          <form  method="POST" action="" >
            {% csrf_token %}
          {{form}}
          
            <div class="tile-footer">
              &nbsp;
              <br>
              <button class="btn btn-success"  type="submit"><i class="bi bi-check-circle-fill me-2"></i>add now</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="{% url 'learner:learner_view'%}"><i class="bi bi-x-circle-fill me-2"></i>Cancel</a>
            </div>
          </form>
        </div>
       
      </div>
    </div>
    

 
  </div>

</div>
</div>




{% endblock %}