{% extends 'home/tes.html' %}
{% load static %}

{% block content %}

<div class="container py-4">
    <div class="row">
        
        <!-- Sidebar -->
        {% include "learner/sidebar.html" %}
        <!-- /Sidebar -->
        <div class="col-md-9 offset-md-3 col-12" style="padding-top: 20px;">
    <h1>List of Captured Micro-Credentials</h1>

    {% if microcredentials %}
        <ul>
            {% for enrollment in microcredentials %}
                <li> <a href="{% url 'courses:microcredential_detail' enrollment.microcredential.slug %}">{{ enrollment.microcredential.title }}</a> - Enrolled on {{ enrollment.enrolled_at|date:"d M Y" }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Anda belum terdaftar dalam microcredential apapun.</p>
    {% endif %}
    </div>
{% endblock %}
