{% extends 'home/tes.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

 
     
        
        
            <h1>List of Courses Taken</h1>

            <!-- Search Form -->
            <form method="get" action="{% url 'authentication:mycourse' %}">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="search" value="{{ search_query }}" placeholder="Search for courses">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </form>

            {% if page_obj %}
                <!-- Table for Courses -->
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Course Name</th>
                                <th>Enrollment Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for enrollment in page_obj %}
                            <tr>
                                <td><a href="{% url 'courses:course_lms_detail' enrollment.course.id enrollment.course.slug %}">{{ enrollment.course.course_name }}</a></td>
                                <td>{{ enrollment.enrolled_at|date:"d M Y" }}</td>
                                <td>
                                    {% with last_access=last_access_map|get_item:enrollment.course.id %}
                                        {% if last_access %}
                                        <a href="{% url 'courses:course_learn' enrollment.user.username enrollment.course.slug %}{% if last_access.material %}?material_id={{ last_access.material.id }}{% elif last_access.assessment %}?assessment_id={{ last_access.assessment.id }}{% endif %}" class="btn btn-success btn-sm">Resume</a>
                                        {% else %}
                                        <a href="{% url 'courses:course_learn' enrollment.user.username enrollment.course.slug %}" class="btn btn-success btn-sm">Get Started</a>
                                        {% endif %}
                                    {% endwith %}
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Pagination Controls -->
                <div class="pagination">
                    {% if page_obj.has_previous %}
                        <a href="?page=1&search={{ search_query }}" class="btn btn-link">First</a>
                        <a href="?page={{ page_obj.previous_page_number }}&search={{ search_query }}" class="btn btn-link">Previous</a>
                    {% endif %}

                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}&search={{ search_query }}" class="btn btn-link">Next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}&search={{ search_query }}" class="btn btn-link">Last</a>
                    {% endif %}
                </div>
            {% else %}
                <p>You haven't enrolled in any courses yet.</p>
            {% endif %}
       
  
{% endblock %}
