

					<!-- sidebar -->
					<div class="col-xl-3 col-lg-3 theiaStickySidebar">
						<div class="settings-widget dash-profile">
							<div class="settings-menu">
								<div class="profile-bg">
									<div class="profile-img">
										<a href="student-profile.html"><img src="assets/img/user/user16.jpg"
												alt="Img"></a>
									</div>
								</div>
								<div class="profile-group">
									<div class="profile-name text-center">
										<h4><a href="student-profile.html">Rolands Richard</a></h4>
										<p>Student</p>
									</div>
								</div>
							</div>
						</div>
						<div class="settings-widget account-settings">
							<div class="settings-menu">
								<h3>Dashboard</h3>
								<ul>
									<li class="nav-item active">
										<a href="student-dashboard.html" class="nav-link">
											<i class="bx bxs-tachometer"></i>Dashboard
										</a>
									</li>
									<li class="nav-item">
										<a href="student-profile.html" class="nav-link">
											<i class="bx bxs-user"></i>My Profile
										</a>
									</li>
									<li class="nav-item">
										<a href="student-courses.html" class="nav-link">
											<i class="bx bxs-graduation"></i>Enrolled Courses
										</a>
									</li>
									<li class="nav-item">
										<a href="student-wishlist.html" class="nav-link">
											<i class="bx bxs-heart"></i>Wishlist
										</a>
									</li>
									<li class="nav-item">
										<a href="student-reviews.html" class="nav-link">
											<i class="bx bxs-star"></i>Reviews
										</a>
									</li>
									<li class="nav-item">
										<a href="student-quiz.html" class="nav-link">
											<i class="bx bxs-shapes"></i>My Quiz Attempts
										</a>
									</li>
									<li class="nav-item">
										<a href="student-order-history.html" class="nav-link">
											<i class="bx bxs-cart"></i>Order History
										</a>
									</li>
									<li class="nav-item">
										<a href="student-qa.html" class="nav-link">
											<i class="bx bxs-bookmark-alt"></i>Question & Answer
										</a>
									</li>
									<li class="nav-item">
										<a href="student-referral.html" class="nav-link">
											<i class="bx bxs-user-plus"></i>Referrals
										</a>
									</li>
									<li class="nav-item">
										<a href="student-messages.html" class="nav-link">
											<i class="bx bxs-chat"></i>Messages
										</a>
									</li>
									<li class="nav-item">
										<a href="student-tickets.html" class="nav-link">
											<i class="bx bxs-coupon"></i>Support Tickets
										</a>
									</li>
								</ul>
								<h3>Account Settings</h3>
								<ul>
									<li class="nav-item">
										<a href="student-settings.html" class="nav-link ">
											<i class="bx bxs-cog"></i>Settings
										</a>
									</li>
									<li class="nav-item">
										<a href="index.html" class="nav-link">
											<i class="bx bxs-log-out"></i>Logout
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Sidebar -->

			

