{% extends 'home/tes.html' %}
{% block content %}

                <h1 class="h2">User Area</h1>

                {% if request.user.is_superuser or request.user.is_partner %}
                <!-- Toolbar and Search/Filter for Superuser or Partner -->
                <div class="table-responsive">
                <div class="btn-toolbar mb-2 mb-md-0">
                    {% if request.user.is_superuser %}
                    <div class="btn-group me-2">
                        <a type="button" href="#" class="btn btn-outline-success">Add Learner</a>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                    {% endif %}

                    <!-- Search and Filter Form -->
                    <form class="d-flex" method="get">
                        <input class="form-control mr-0" type="search" value="{{ request.GET.search }}" name="search" placeholder="Search Learner" aria-label="Search">
                        <select name="status" class="form-control">
                            <option value="">-- Select Status --</option>
                            <option value="active" {% if request.GET.status == 'active' %}selected{% endif %}>Active</option>
                            <option value="inactive" {% if request.GET.status == 'inactive' %}selected{% endif %}>Inactive</option>
                        </select>
                        <input type="date" class="form-control" name="date_from" value="{{ request.GET.date_from }}" placeholder="Date From">
                        <input type="date" class="form-control" name="date_to" value="{{ request.GET.date_to }}" placeholder="Date To">
                        <button class="btn btn-primary" type="submit">Filter</button>
                    </form>
                </div>
                {% endif %}
                
                <!-- User Table -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Org</th>
                            <th scope="col">Total</th>
                            <th>Joined & Last Login</th>
                            {% if request.user.is_superuser %}
                            <th>Admin</th>
                            <th>Staff</th>
                            <th>Partner</th>
                            <th>Instructor</th>
                            <th>Status</th>
                            {% elif request.user.is_partner %}
                            <th>Status</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td><a class="dropdown-item" href="{% url 'authentication:user_detail' user.id %}">{{ user.username }}</a></td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.university }}</td>
                            <td>{{ user.total_courses }}</td> 
                            <td>{{ user.date_joined }} and <span class="badge bg-success">{{ user.last_login }}</span></td>
                            {% if request.user.is_superuser %}
                            <td>
                                {% if user.is_superuser %}
                                    <span class="badge bg-success"><i class="bi bi-check" aria-hidden="true"></i></span>
                                {% else %}
                                    <span class="badge bg-danger"><i class="bi bi-x" aria-hidden="true"></i></span>
                                {% endif %}
                            </td>
                            <td>
                                {% if user.is_staff %}
                                    <span class="badge bg-success"><i class="bi bi-check" aria-hidden="true"></i></span>
                                {% else %}
                                    <span class="badge bg-danger"><i class="bi bi-x" aria-hidden="true"></i></span>
                                {% endif %}
                            </td>
                            <td>
                                {% if user.is_partner %}
                                    <span class="badge bg-success"><i class="bi bi-check" aria-hidden="true"></i></span>
                                {% else %}
                                    <span class="badge bg-danger"><i class="bi bi-x" aria-hidden="true"></i></span>
                                {% endif %}
                            </td>
                            <td>
                                {% if user.is_instructor %}
                                    <span class="badge bg-success"><i class="bi bi-check" aria-hidden="true"></i></span>
                                {% else %}
                                    <span class="badge bg-danger"><i class="bi bi-x" aria-hidden="true"></i></span>
                                {% endif %}
                            </td>
                            <td>
                                {% if user.is_active %}
                                    <span class="badge bg-primary">Active</span>
                                {% else %}
                                    <span class="badge bg-warning text-dark">Inactive</span>
                                {% endif %}
                            </td>
                            {% elif request.user.is_partner %}
                            <td>
                                {% if user.is_active %}
                                    <span class="badge bg-primary">Active</span>
                                {% else %}
                                    <span class="badge bg-warning text-dark">Inactive</span>
                                {% endif %}
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                <!-- Pagination -->
                {% if request.user.is_superuser or request.user.is_partner %}
                <p>Total: {{ total_user_count }} || Page {{ users.number }} of {{ users.paginator.num_pages }}</p>
                <div class="row">
                    <nav aria-label="Page navigation example">
                        <div>
                            {% if users.has_previous %}
                                <a href="?page=1&search={{ search_query }}" class="btn btn-primary btn-sm">First</a>
                                <a href="?page={{ users.previous_page_number }}&search={{ search_query }}" class="btn btn-info btn-sm">Previous</a>
                            {% endif %}

                            <span>Page {{ users.number }} of {{ users.paginator.num_pages }}</span>

                            {% if users.has_next %}
                                <a href="?page={{ users.next_page_number }}&search={{ search_query }}" class="btn btn-primary btn-sm">Next</a>
                                <a href="?page={{ users.paginator.num_pages }}&search={{ search_query }}" class="btn btn-info btn-sm">Last</a>
                            {% endif %}
                        </div>
                    </nav>
                </div>
                {% endif %}
  
{% endblock %}
