{% extends 'home/sos.html' %}
{% block content %}
<div class="col-md-8 main-content text-center">
    <h3>Anda Diblokir!</h3>
    <p>Aktif lagi pada {{ until }}.</p>
    <p id="countdown"></p>
</div>
<script>
    let until = new Date("{{ until|date:'c' }}").getTime();
    let countdown = setInterval(() => {
        let now = new Date().getTime();
        let distance = until - now;
        let hours = Math.floor(distance / (1000 * 60 * 60));
        let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        let seconds = Math.floor((distance % (1000 * 60)) / 1000);
        document.getElementById("countdown").innerText = `Sisa: ${hours}j ${minutes}m ${seconds}d`;
        if (distance < 0) clearInterval(countdown);
    }, 1000);
</script>
{% endblock content %}