{% extends 'home/base.html' %}
{% block content %}
{% block header %}
    {{ form.media }}
{% endblock %}


       
        {% include "courses/course_set.html"%}
        <hr>  
       
        <div class="support-wrap">
            <div class="tile">
              
             
                  
            
              <div class="tile-body">
               <form method="POST"  enctype="multipart/form-data"  >
                  {% csrf_token %}
               
                  <h5 style="text-align: left;">Course Assesment</h5>
                  <hr>
                    <div class="row " >
                        
                        <div class="col-md-12">
                        
                        {{form.as_p}}
                        
                        </div>
                         
                    </div>
                    
                   
                   

                 
                 
                  <div class="tile-footer">
                    &nbsp;
                    <br>
                    <button class="btn btn-success btn-sm"  type="submit">save <i class="fa fa-save"></i></button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary btn-sm" href="{% url 'courses:studio' id=course.id %}">cancel <i class="fa fa-close"></i></a>
                  </div>
                </form>
              </div>
              <br>
              <h5 style="text-align: left;">Existing Team Members</h5>

<ul>

    {% for member in team_members %}

        <li> 

            <a href="{% url 'courses:remove_team_member' member.id %}" class="btn btn-danger btn-sm" >{{ member.user.email }}   &nbsp; <i class="fa fa-trash"></i></a>

        </li>
        <hr>
    {% endfor %}

</ul>
             
            </div>
          </div>


 

 


{% endblock %}
