{% extends 'home/base.html' %}
{% block content %}

<div class="page-content">
  <div class="container">
    <div class="row">
      {% include "home/sidebar.html" %}
      <div class="col-xl-9 col-lg-9">
       
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
           
            
           
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Content
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Setting
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>

             
               
              </ul>


              
              
              <h4 class="d-flex">{{course.course_name}}</h4>
              
                
                                             
              
            </div>
            
          </div>

          
        </nav>

        <fieldset class="field-card">
          <div class="add-course-info">
            <div class="add-course-inner-header">
              
            
              
            </div>
       

            {% for i in section %}
                {% if not i.children.all %}
               
                <!--jika kosong mulai dari sini-->
                <div class="curriculum-grid mb-0">
                  <div class="curriculum-head">
                    <div class="col-8">
                      <input  name="" value="{{i.title}}" style="background:rgba(227, 227, 227, 0.41);" type="text" class="form-control"/>
                     </div>
                    <a href="javascript:void(0);" class="btn">+ Subsection</a>
                  </div>
                  <div class="curriculum-info">
                    <div id="accordion-one">
                     
                    </div>
                  </div>
                </div>
                <!--end kosong-->
                {% else %}
                          <!--DIMULAI DARI SINI-->
                         
                         

                          <div class="curriculum-grid mb-0">
                            <div class="curriculum-head">
                              
                             <div class="col-8">
                              <input  name="" value="{{i.title}}" style="background:rgba(227, 227, 227, 0.41);" type="text" class="form-control"/>
                             </div>
                              <a href="javascript:void(0);" class="btn">+ Subsection</a>
                              
                            </div>
                            <div class="curriculum-info">
                              <div id="accordion-one">

                                {% for obj in i.children.all %}
                                {% if not obj.children.all %}
                                    
                                    <div class="faq-grid">
                                      <div class="faq-header">
                                        <a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseFour">
                                           <i class="fas fa-align-justify"></i> <div class="col-8">
                                            <input  name="" value="{{obj.title}}"  type="text" class="form-control"/>
                                           </div>
                                        </a>
                                        
                                        <div class="faq-right">
                                          <a href="javascript:void(0);">
                                            <i class="far fa-pen-to-square me-1"></i>
                                          </a>
                                          <a href="javascript:void(0);" class="me-0">
                                            <i class="far fa-trash-can"></i>
                                          </a>
                                        </div>
                                      </div>
                                      <div id="collapseFour" class="collapse" data-bs-parent="#accordion-one">
                                        <div class="faq-body">
                                            <div class="add-article-btns">
                                              <a href="javascript:void(0);" class="btn">Add Article</a>
                                              <a href="javascript:void(0);" class="btn me-0">Add Description</a>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                {% else %}

                                <!--batas subsection-->
                                <div class="faq-grid">
                                  <div class="faq-header">
                                    <a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseFour-{{i.slug}}">
                                       <i class="fas fa-align-justify"></i> <div class="col-8">
                                        <input  name="" value="{{obj.title}}"  type="text" class="form-control"/>
                                       </div>
                                    </a>
                                    <div class="faq-right">
                                      <a href="javascript:void(0);">
                                        <i class="far fa-pen-to-square me-1"></i>
                                      </a>
                                      <a href="javascript:void(0);" class="me-0">
                                        <i class="far fa-trash-can"></i>
                                      </a>
                                    </div>
                                  </div>
                                  <div id="collapseFour-{{i.slug}}" class="collapse" data-bs-parent="#accordion-one">
                                    <div class="faq-body">
                                        <div class="add-article-btns">

                                          {% for subobj in obj.children.all %}
                              
                                <a href="javascript:void(0);" >A.1.1 {{subobj.title}}</a>
                                <br>
                                
                                {% endfor %}
                                          <a href="javascript:void(0);" class="btn">Add Article</a>
                                          <a href="javascript:void(0);" class="btn me-0">Add Description</a>
                                        </div>
                                    </div>
                                  </div>
                                </div>

                                

                              {% endif %}
                    {% endfor %}

                                <!--end batas subsection-->
                               
                                
                                
                              </div>
                            </div>
                          </div>
                          
                         
                                        <p></p>
                                    
                            <!--SAMPAI SINI-->
                {% endif %}
            {% endfor %}

           
            <div class="row widget-btn">
            <button type="button" class="btn btn-outline-success" >+ Section</button>
            </div>
          </div>
        </fieldset>
        

  </div>
  </div>


    </div>
  </div>





{% endblock %}
