{% extends 'home/base.html' %}
{% block content %}


<div class="page-content">
  <div class="container">
    <div class="row">
      {% include "home/sidebar.html" %}
      <div class="col-xl-9 col-lg-9">
       
        {% include "courses/course_set.html"%}
        <hr>  
       
        <div class="support-wrap">
            <div class="tile">
              
             
                {% if course.image %}
                <img src="{{ course.image.url }}" alt="{{ course.title }}" class="img-fluid" style="border: 1px solid #ddd; border-radius:4px;padding:5px;width:150px;">               
                
              {% endif %}
              <br>
              <p><a href="{% url "courses:draft-lms" course.id %}" target="_blank" style="color:red;" >Course Summary Page (for student enrollment and access)</a></p>
              
            </div>
              <br>
            <br>
            
              <div class="tile-body">
               <form method="POST"  enctype="multipart/form-data"  >
                  {% csrf_token %}
               
                  <h5 style="text-align: left;">Course Schedule</h5>
                  <hr>
                    <div class="row " >
                        
                        <div class="col-md-6">
                        <label>start date</label>
                        {{form.start_date}}
                        
                        </div>
                        <div class="col-md-6">   
                        <label>end date</label>
                        {{form.end_date}}
                        </div>    
                    </div>
                    
                    <div class="row " >
                        <div class="col-md-6">
                        <label>Enrollment start date</label>
                        {{form.start_enrol}}
                        </div>
                        <div class="col-md-6">   
                        <label>Enrollment end date</label>
                        {{form.end_enrol}}
                        </div>    
                    </div>
                    <br>
                    <h5 style="text-align: left;">Course Details</h5>
                    <hr>
                    <div class="row g-3">
                        <div class="col-md">
                          <div class="form-floating">
                            {{form.level}}
                              <label for="level">course level</label>
                          </div>
                        </div>
                        <div class="col-md">
                          <div class="form-floating">
                            {{form.language}}
                            <label for="language">course language</label>
                          </div>
                        </div>

                        <div class="col-md">
                            <div class="form-floating">
                               {{form.hour}}
                                <label for="hour">Hours of Effort per Week</label>
                            </div>
                          </div>
                      </div>

                      &nbsp;
                     
                        
                          <div class="form-floating">
                          {{form.link_video}}
                            <label for="link_video">link video address</label>
                          </div>
                       
                        <br>
                          <div class="form-control">
                           {{form.image}}
                         &nbsp;
                            <label for="image">Image</label>
                            <!-- Display current image if it exists -->
                           
                          </div>
                      
                     
                      &nbsp;
                        <div class="form-floating">
                       {{form.sort_description}}
                        <label for="sort_description">sort description Limit to ~150 characters</label>
                        </div>
                        &nbsp;
                        <div class="mb-3">
                          <label>overview</label>
                            {{form.description}}
                            {{ form.media }}
                        </div>
                        

                 
                 
                  <div class="tile-footer">
                    &nbsp;
                    <br>
                    <button class="btn btn-primary"  type="submit">save <i class="fa fa-save"></i></button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="{% url 'courses:studio' id=course.id %}">Cancel <i class="fa fa-close"></i></a>
                  </div>
                </form>
              </div>
             
            </div>
          </div>


 

  </div>
  </div>


    </div>
  </div>


{% endblock %}
