{% extends 'home/base.html' %}
{% block content %}

<div class="page-content">
  <div class="container">
    <div class="row">
      {% include "home/sidebar.html" %}
      <div class="col-xl-9 col-lg-9">
       
        {% include "courses/course_set.html"%}
        <hr>  
       
        <div class="support-wrap">
            <div class="tile">
              
               
                {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-info{% endif %}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

              <div class="tile-body">
                <form method="POST">
                    {% csrf_token %}
                
                    {% if request.user.is_superuser %}
                    
                        <div class="form-group">
                            <label for="{{ form.price_type.id_for_label }}">Jenis Harga</label>
                            {{ form.price_type }}
                        </div>
                
                        <div class="form-group">
                            <label for="{{ form.start_date.id_for_label }}">Tanggal Mulai</label>
                            {{ form.start_date }}
                        </div>
                
                        <div class="form-group">
                            <label for="{{ form.duration_days.id_for_label }}">Durasi (Hari)</label>
                            {{ form.duration_days }}
                        </div>
                
                        <div class="form-group">
                            <label for="{{ form.end_date.id_for_label }}">Tanggal Selesai</label>
                            {{ form.end_date }}
                        </div>
                    {% else %}
                        {{ form.price_type }}  <!-- Hidden field untuk partner -->
                    {% endif %}
                
                    <div class="form-group">
                        <label for="{{ form.amount.id_for_label }}">Harga</label>
                        {{ form.amount }}
                    </div>
                <br>
                    <button type="submit" class="btn btn-success">Simpan</button>
                </form>
                
              </div>

            </div>
          </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
