<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <!-- Logo atau nama kursus -->
    <a class="navbar-brand shadow-sm p-3 mb-2 bg-light rounded text-dark text-decoration-none hover-text-dark" href="{% url 'courses:studio' course.id %}">
      {{ course.course_name }}
    </a>
    
    <!-- Toggle button untuk tampilan mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Collapse Content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Dropdown Content Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Content
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'courses:studio' course.id %}">Outline</a></li>
            <li><a class="dropdown-item" href="{% url 'instructor:studios' course.id %}">Status Curation</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

        <!-- Dropdown Settings Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSetting" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Settings
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownSetting">
            <li><a class="dropdown-item" href="{% url 'courses:course_profile' course.id %}">Schedule</a></li>
            <li><a class="dropdown-item" href="{% url 'courses:course_grade' course.id %}">Grading</a></li>
            <li><a class="dropdown-item" href="{% url 'courses:course_team' course.id %}">Team</a></li>
            {% if request.user.is_superuser or request.user.is_partner %}
              <li><a class="dropdown-item" href="{% url 'courses:course_instructor' course.id %}">Instructor</a></li>
            {% endif %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'courses:add_course_price' course.id %}">Price</a></li>
          </ul>
        </li>
      </ul>

      <!-- Re-Runs Button Section -->
    
    </div>
  </div>
</nav>

