{% extends 'home/base.html' %}
{% block content %}


<div class="page-content">
  <div class="container">
    <div class="row">
      {% include "home/sidebar.html" %}
      <div class="col-xl-9 col-lg-9">
       
        {% include "courses/course_set.html"%}
        <hr>  
        {% if messages %}
            <div class="alert alert-dismissible fade show" role="alert">
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success" role="alert">{{ message }}</div>
                    {% elif message.tags == 'error' %}
                        <div class="alert alert-danger" role="alert">{{ message }}</div>
                    {% elif message.tags == 'warning' %}
                        <div class="alert alert-warning" role="alert">{{ message }}</div>
                    {% elif message.tags == 'info' %}
                        <div class="alert alert-info" role="alert">{{ message }}</div>
                    {% else %}
                        <div class="alert alert-secondary" role="alert">{{ message }}</div>
                    {% endif %}
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    
            <script>
                // Automatically dismiss the alert after 3 seconds
                setTimeout(function() {
                    var alert = document.querySelector('.alert');
                    if (alert) {
                        alert.classList.remove('show');
                        alert.classList.add('fade');
                    }
                }, 3000); // 3000ms = 3 seconds
            </script>
        {% endif %}
                  <!-- Modal section baru-->
                  <div class="modal fade" id="exampleModal-{{course.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">{{course.course_name}} </h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
            
                          {% csrf_token %}
                        <div class="modal-body">
                          <span id="courses" style="display:none">{{course.id}}</span>
                          <input type="text" class="form-control" autocomplete="off" id="title" name="title" value="{{course.course_name}}" aria-describedby="section">
                          <div id="error-message" style="color: red; display: none;"></div>
                          
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" id="createForm" class="btn btn-primary">Save</button>
                        </div>
                      
                      </div>
                    </div>
                  </div>

                  <!--and modal section baru-->

               
        <fieldset class="field-card">
          <div class="add-course-info">
            <div class="add-course-inner-header">
              
            
              
            </div>
       

            {% for i in section %}
                {% if not i.children.all %}
               
                      <!--jika section kosong mulai dari sini-->
                      <div class="curriculum-grid mb-0" >
                        <div class="curriculum-head" >
                          <div class="col-8" >
                            
                            <input  name="titleupsection" id="titleupsection-{{i.id}}" autocomplete="off" value="{{i.title}}" style="background:rgba(227, 227, 227, 0.41);" type="text" class="form-control ada"/>
                            <div id="error-section-{{i.id}}" style="color: red; display: none;"></div>
                            <input  name="idupsection" id="idupsection-{{i.id}}" value="{{i.id}}" style="background:rgba(227, 227, 227, 0.41);" type="hidden" class="form-control "/>
                            <input  name="courses_id" id="courses_id-{{i.id}}" value="{{i.courses_id}}" style="background:rgba(227, 227, 227, 0.41);" type="hidden" class="form-control "/>
                          </div>
                            <a href="javascript:void(0);" class="btn delete-btn-section" data-id="{{ i.id }}"><i class="fa fa-trash-can"></i> </a> 
                            <a href="javascript:void(0);" class="btn" data-id="{{i.id}}" data-bs-toggle="modal" data-bs-target="#exampleModal-{{i.id}}"><i class="fa fa-plus"> </i> </a>
                        
                        </div>
                        <div class="curriculum-info">
                          <div id="accordion-one">
                          
                          </div>
                        </div>
                      </div>
                      <br>
                      <!--end kosong-->


                        <!-- Modal Subsection -->
                        <div class="modal fade" id="exampleModal-{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">New Subsection</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  {% csrf_token %}
                                  <div class="modal-body">
                                      <input type="text" class="form-control" autocomplete="off" id="title-{{i.id}}" name="title" placeholder="Subsection">
                                      <input type="hidden" class="form-control" id="courses-{{i.id}}" name="courses" value="{{course.id}}">
                                      <input type="hidden" class="form-control" id="parent-{{i.id}}" name="parent" value="{{i.id}}">
                                      <div id="error-message-{{i.id}}" style="color: red; display: none;"></div>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                      <button type="button" id="createSubForm-{{i.id}}" class="btn btn-primary">Save</button>
                                  </div>
                              </div>
                          </div>
                        </div>


                        <!--and modal sub section kosong-->

                {% else %}


                          <!-- Modal new sub -->
                          <div class="modal fade" id="newModal-{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">New Subsection</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <input type="text" class="form-control" autocomplete="off" id="title-{{i.id}}" name="title" placeholder="Subsection">
                                        <input type="hidden" class="form-control" id="courses-{{i.id}}" name="courses" value="{{course.id}}">
                                        <input type="hidden" class="form-control" id="parent-{{i.id}}" name="parent" value="{{i.id}}">
                                        <div id="error-message-{{i.id}}" style="color: red; display: none;"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" id="createSubForm-{{i.id}}" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>
                            </div>


                              <!--and modal sub section kosong-->

                                        <!--DIMULAI DARI SINI-->
                         
                         

                              <div class="curriculum-grid mb-0">
                                <div class="curriculum-head">
                                  
                                <div class="col-8">
                                  <input  name="" value="{{i.title}}" id="titleupsection-{{i.id}}" style="background:rgba(227, 227, 227, 0.41);" type="text" class="form-control"/>
                                  
                                  <div id="error-section-{{i.id}}" style="color: red; display: none;"></div>
                                  <input  name="idupsection" id="idupsection-{{i.id}}" value="{{i.id}}" style="background:rgba(227, 227, 227, 0.41);" type="hidden" class="form-control ada"/>
                                  <input  name="courses_id" id="courses_id-{{i.id}}" value="{{i.courses_id}}" style="background:rgba(227, 227, 227, 0.41);" type="hidden" class="form-control ada"/>
                                </div>
                                <a href="javascript:void(0);" class="btn delete-btn-section" data-id="{{ i.id }}"><i class="fa fa-trash-can"></i> </a>  
                                  
                                <a href="javascript:void(0);" class="btn" data-id="{{i.id}}" data-bs-toggle="modal" data-bs-target="#newModal-{{i.id}}"><i class="fa fa-plus"> </i> </a>
                                  
                                </div>
                                <div class="curriculum-info">
                                  <div id="accordion-one">

                                {% for obj in i.children.all %}
                                {% if not obj.children.all %}
                                    
                                    <div class="faq-grid">
                                      <div class="faq-header">
                                        <a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseFour-{{obj.id}}">
                                           <i class="fas fa-align-justify"></i> <div class="col-8">
                                            <input  name="titlepusection" value="{{obj.title}}" id="titlepusection-{{obj.id}}"  type="text" class="form-control"/>
                                            <input  name="parent_id" id="parent_id-{{obj.id}}" value="{{obj.parent_id}}"  type="hidden" class="form-control "/>
                                            <input  name="courses_id" id="courses_id-{{obj.id}}" value="{{obj.courses_id}}"  type="hidden" class="form-control "/>
                                            

                                          </div>
                                        </a>
                                        
                                        <div class="faq-right">
                                          <a href="javascript:void(0);">
                                            <i class="far fa-pen-to-square me-1"></i>
                                          </a>
                                          <a href="javascript:void(0);" class="me-0 delete-btn-section"  data-id="{{ obj.id }}">
                                            <i class="far fa-trash-can"></i>
                                          </a>
                                        </div>
                                      </div>
                                      <div id="collapseFour-{{obj.id}}" class="collapse" data-bs-parent="#accordion-one">
                                        <br>
                                            {% for material in obj.materials.all %}
                                            <div class="border rounded p-3 mb-2">
                                         

                                            <a href="{% url "courses:edit_matrial" course.id material.id %}"> {{ material.title }}</a>
                                            <a href="javascript:void(0);" class="btn delete-btn-matrial btn-sm" data-id="{{ material.id }}"> <i class="fa fa-trash-can"></i> </a>
                                      
                                        </div>
                                          {% empty %}

                                          <li>No materials available for this section.</li>

                                          {% endfor %}


                                          {% for assesment in obj.assessments.all %}
                                          <div class="border rounded p-3 mb-2">
                                          <a href="{% url "courses:view-question" course.id obj.id assesment.id %}">  {{ assesment.name | safe }}</a>
                                          <a href="{% url "courses:delete_assessment" course.id obj.id assesment.id %}" class="btn delete-btn-matrial btn-sm" > <i class="fa fa-trash-can"></i> </a>
                                        </div>
                                          {% empty %}

                                          <li>No assessment available for this section.</li>
                                          {% endfor%}
                                          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                       
                                        <div class="faq-body">
                                            <div class="add-article-btns">
                                              
                                              <div class="widget-btn">
                                                
                                                <a href="{% url "courses:add-matrial" course.id obj.id %}" class="btn" >Add Matrial &nbsp; <i class="fa fa-paste"></i></a>
                                                <a href="{% url "courses:create-assessment" course.id obj.id %}" class="btn me-0">Add Assesment &nbsp; <i class="fa fa-list-ul"></i></a>
                                              </div>
                                            </div>
                                        </div>
                                      </div>
                                    </div>


                    
                                {% else %}

                                <!--batas subsection-->
                                <div class="faq-grid">
                                  <div class="faq-header">
                                    <a class="collapsed faq-collapse" data-bs-toggle="collapse" href="#collapseFour-{{obj.id}}">
                                       <i class="fas fa-align-justify"></i> <div class="col-8">
                                        <input  name="" value="{{obj.title}}" id="titlefocus"  type="text" class="form-control"/>
                                       </div>
                                    </a>
                                    <script>
                                      function myFunction() {
                                        document.getElementById("titlefocus").focus();
                                   }

                                 
                                    </script>
                                    <div class="faq-right">
                                      <a href="javascript:void(0);" onclick="myFunction()">
                                        <i class="far fa-plus me-1"></i>
                                      </a>
                                      <a href="javascript:void(0);">
                                        <i class="far fa-pen-to-square me-1"></i>
                                      </a>
                                      <a href="javascript:void(0);" class="me-0 delete-btn-section" data-id="{{ obj.id }}">
                                        <i class="far fa-trash-can"></i>
                                      </a>
                                    </div>
                                  </div>
                                  <div id="collapseFour-{{obj.id}}" class="collapse" data-bs-parent="#accordion-one">
                                    <div class="faq-body">
                                        <div class="add-article-btns">

                                          {% for subobj in obj.children.all %}
                              
                                <a href="javascript:void(0);"  class="form-control">A.1.1 {{subobj.title}}</a>
                                <br>
                                
                                {% endfor %}
                                &nbsp;
                                          <a href="javascript:void(0);" class="btn">Add Article</a>
                                          <a href="javascript:void(0);" class="btn me-0">Add Description</a>
                                        </div>
                                    </div>
                                  </div>
                                </div>

                                

                              {% endif %}
                    {% endfor %}

                                <!--end batas subsection-->
                               
                                
                                
                              </div>
                            </div>
                          </div>
                          
                         
                                        <p></p>
                                    
                            <!--SAMPAI SINI-->
                {% endif %}
            {% endfor %}

           
            
          </div>

          <div class="row widget-btn">
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal-{{course.id}}">+ Section</button>
          </div>
         
        </fieldset>
        

  </div>
  </div>


    </div>
  </div>




  <!--end delete matrial-->

<!--script sub section-->
<script>
  
  // This function handles form submission
function createSub(id) {
  var itemId = id.split('-')[1]; // Extract the item ID from the button ID
  var title = $('#title-' + itemId).val();
  var courses = $('#courses-' + itemId).val();
  var parent = $('#parent-' + itemId).val();
  var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

  // Validation: Check if title is provided
  if (!title) {
      $('#error-message-' + itemId).text('Title is required').show();
      return;
  }

  // AJAX request to save the new subsection
  $.ajax({
      url: '{% url "courses:create_section" idcourse=course.id %}',  // Replace with the correct endpoint for saving the subsection
      method: 'POST',
      data: {
          'csrfmiddlewaretoken': csrfToken,
          'title': title,
          'courses': courses,
          'parent': parent
      },
      success: function(response) {
          if (response.status === 'success') {
              $('#exampleModal-' + itemId).modal('hide');  // Close the modal
              alert('Subsection created successfully!');
              location.reload();  // Optional: reload page to reflect changes
          } else {
              $('#error-message-' + itemId).text(response.message).show();
          }
      },
      error: function(xhr, status, error) {
          console.error('AJAX Error: ' + status + ' - ' + error);
          $('#error-message-' + itemId).text('An error occurred. Please try again.').show();
      }
  });
}

// Attach the event listener dynamically to all Save buttons
$(document).ready(function() {
  $(document).on('click', '.btn-primary', function() {
      var buttonId = $(this).attr('id');  // Get the ID of the button clicked
      createSub(buttonId);  // Call createSub function with the button's ID
  });
});


// Handle keypress (Enter key) for dynamically generated input fields
$('input[id^="title-"]').keypress(function (event) {
  if (event.keyCode === 13) {  // Enter key code
    var buttonId = $(this).attr('id');  // Get the ID of the button clicked
    createSub(buttonId);  // Call createSub function with the button's ID
  }
  });


 //sendata update subsection
 function sendDataSub(itemId) {
  var title = $('#titlepusection-' + itemId).val();
 // var course = $('#idupsection-' + itemId).val();
  var courseId = $('#courses_id-' + itemId).val();
  var parent = $('#parent_id-'+ itemId).val();

  // Check if all fields have been filled
  if (!title  || !courseId) {
      $('#error-section-'+itemId).text('required').show();
      return;
  }
  //alert()
  // Get CSRF token for the request
  var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

  // Make the AJAX request to update the section
$.ajax({
url: `/update-section/${itemId}/`,
method: 'POST',
data: {
    'csrfmiddlewaretoken': csrfToken,
    //'id': course,
    'title': title,
    'courses':courseId,
    'parent':parent
},
success: function(response) {
    if (response.status === 'success') {
        // Optionally hide a modal or update the UI
        //alert(`Section updated successfully with ID: ${itemId}`);
      // location.reload();  // Reload the page to reflect the changes
      $('#error-section-'+itemId).text('required').hide();
      console.log(`Section updated successfully with `)

      
    } else {
        alert('Update failed. Please try again.');
    }
},
error: function(xhr, status, error) {
    console.error('AJAX Error:', status, error);
    alert('An error occurred. Please try again later.');
}
});
}

// Handle keypress (Enter key) for dynamically generated input fields
$('input[id^="titlepusection-"]').keypress(function (event) {
if (event.keyCode === 13) {  // Enter key code
    var inputId = $(this).attr('id');
    var itemId = inputId.split('-')[1];  // Extract the item ID from the ID of the input
   // console.log(itemId);
   sendDataSub(itemId);  // Call the sendData function
}
});


</script>
<!--end sub script-->
<!--script section-->
<script>
 

  $(document).ready(function() {
    
    //create function
    function submitForm(){
      var title = $('#title').val();
      var courses = $('#courses').text();

      // Get CSRF token
      var csrfToken = $('input[name="csrfmiddlewaretoken"]').val(); 

        if (!title || !courses) {
          $('#error-message').text('required').show();
          return;  // Stop the execution if validation fails
        }
        //ajax
        $.ajax({
            url: '{% url "courses:create_section" idcourse=course.id %}',
            method: 'POST',
            data: {
              'csrfmiddlewaretoken': csrfToken,
              'title': title,
              'courses': courses,
          },
                success: function(response) {
                    if (response.status == 'success') {
                        
                        $('#createModal').modal('hide');
                        $('#title').val('');
                      // $('#courses').val('');
                      location.reload();
                    }
                }
                });
        //endajax
    }
    //endfunction
      //add clik
      $('#createForm').click(function(e) {
          e.preventDefault();          
          submitForm();
      });
      //endclik

          // Trigger AJAX submission when Enter key is pressed in the input field
          $('#title').keypress(function(event) {
          if (event.which === 13) {  // "Enter" key has a keyCode of 13
          event.preventDefault();  // Prevent form submission
          submitForm();  // Call the function to submit the form
          }
          });
          //end enter
                                
          });


          // delete section new
          
          $('.delete-btn-section').click(function() {
            var itemId = $(this).data('id');
            var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
            $.ajax({
                url: `/delete-section/${itemId}/`,
                method: 'POST',
                data: {
                  'csrfmiddlewaretoken': csrfToken
              },
                success: function(response) {
                    if (response.status == 'success') {
                    //   $('#item-' + itemId).remove();
                        location.reload();
                    }
                }
            });
          });


          $('.delete-btn-matrial').click(function() {
            var pk = $(this).data('id');
            var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
            //console.log(csrf_token)
            $.ajax({
                url: `/delete-matrial/${pk}`,
                method: 'POST',
                data: {
                  'csrfmiddlewaretoken': csrfToken
              },
              
                success: function(response) {
                    if (response.status == 'success') {
                    //   $('#item-' + itemId).remove();
                        location.reload();
                    }
                }
            });
          });

             
  

           



              //sendata update section
          function sendData(itemId) {
            var title = $('#titleupsection-' + itemId).val();
            var course = $('#idupsection-' + itemId).val();
            var courseId = $('#courses_id-' + itemId).val();
            //var parent = $('#parent_id-'+ itemId).val();

            // Check if all fields have been filled
            if (!title || !course || !courseId) {
                $('#error-section-'+itemId).text('required').show();
                return;
            }

            // Get CSRF token for the request
            var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

            // Make the AJAX request to update the section
        $.ajax({
          url: `/update-section/${itemId}/`,
          method: 'POST',
          data: {
              'csrfmiddlewaretoken': csrfToken,
              'id': course,
              'title': title,
              'courses':courseId
              //'parent':parent
          },
          success: function(response) {
              if (response.status === 'success') {
                  // Optionally hide a modal or update the UI
                  //alert(`Section updated successfully with ID: ${itemId}`);
                // location.reload();  // Reload the page to reflect the changes
                $('#error-section-'+itemId).text('required').hide();
                console.log(`Section updated successfully with `)
      
                
              } else {
                  alert('Update failed. Please try again.');
              }
          },
          error: function(xhr, status, error) {
              console.error('AJAX Error:', status, error);
              alert('An error occurred. Please try again later.');
          }
        });
          }

          // Handle keypress (Enter key) for dynamically generated input fields
        $('input[id^="titleupsection-"]').keypress(function (event) {
          if (event.keyCode === 13) {  // Enter key code
              var inputId = $(this).attr('id');
              var itemId = inputId.split('-')[1];  // Extract the item ID from the ID of the input
             // console.log(itemId);
              sendData(itemId);  // Call the sendData function
          }
      });


              

</script>


{% endblock %}
