{% extends 'home/base.html' %}

{% block content %}

<div class="page-content">
  <div class="container">
    <div class="row">
      {% include "home/sidebar.html" %}
      <div class="col-xl-9 col-lg-9">
        <div class="support-wrap">
        <h2>Re-run of course: {{ course.course_name }}</h2>

        {% if messages %}
          <div class="alert">
            {% for message in messages %}
              <div class="alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}

        {% if user.is_authenticated %}
          {% if user.is_superuser or user == course.org_partner.user or user == course.instructor.user %}
          <form method="POST">
            {% csrf_token %}
            
            <!-- Show Form Errors -->
            {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            
            <!-- Editable fields -->
            <div class="form-group">
                <label for="course_number">Course Number</label>
                {{ form.course_number }}  
            </div>
        
            <div class="form-group">
                <label for="course_run">Course Run</label>
                {{ form.course_run }}  
            </div>
        
            <div class="form-group">
                <label for="category">Category</label>
                {{ form.category }}  
            </div>
        
            <div class="form-group">
                <label for="level">Level</label>
                {{ form.level }}  
            </div>
        
            <!-- Hidden fields -->
            <input type="hidden" name="course_name_hidden" value="{{ form.course_name_hidden.value }}">
            <input type="hidden" name="org_partner_hidden" value="{{ form.org_partner_hidden.value }}">
            
            <br>
            <button type="submit" class="btn btn-primary">Create Re-Run</button>
        </form>
                
                        
        
          {% else %}
            <p>You do not have permission to create a re-run for this course.</p>
          {% endif %}
        {% else %}
          <p>You must be logged in to create a re-run.</p>
        {% endif %}
    </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
