{% extends 'home/tes.html' %}

{% block content %}
<body onload="document.forms[0].submit();">
  <p>Sedang mengarahkan ke Moodle, mohon tunggu...</p>

 <h1>Launching LTI Tool</h1>
      <h1>Launching LTI Tool</h1>
    <p>Tool LTI akan diluncurkan dengan parameter berikut:</p>
  

             <form id="lti_launch_form" action="{{ launch_url }}" method="POST">
        {% for key, value in lti_params.items %}
            <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endfor %}
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('lti_launch_form').submit();
        });
    </script>
</body>
{% endblock %}
