{% extends 'home/base.html' %}
{% block content %}
<div class="page-content">
    <div class="container">
      <div class="row">
        {% include "home/sidebar.html" %}
        <div class="col-xl-9 col-lg-9">
            {% include "courses/course_set.html"%}
           
        <hr>
            <p>Questions for Assessment: <strong> <a href="{% url "courses:edit_assessment"  course.id section.id assessment.id %}">{{ assessment.name }} </a></strong>  <a href="{% url "courses:delete_assessment" course.id section.id assessment.id %}">  <i class="fa fa-remove"></i></a>  </p>
           
            <a href="{% url "courses:create_question" course.id section.id assessment.id %}" class="btn btn-success">add question <i class="fa fa-plus"></i> </a>
         
            <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">question</th>
                    <th>x</th>
                    
                    
                  </tr>
                </thead>
                <tbody>
                    {% for question in assessment.questions.all %}
                   
                    
               
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url "courses:edit_question" course.id question.id section.id assessment.id %}">{{ question.text | truncatechars:75|safe}}</a>   </td>
                    <td><form method="POST" action="{% url 'courses:delete_question' course.id question.id section.id assessment.id %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-sm" >
        <i class="fa fa-remove"></i> 
    </button>
</form>
</td>
                   
                  </tr>
                  {% empty %}
                    <p>No questions available for this assessment.</p>
                {% endfor %}
                </tbody>
              </table>
  
        </div>

      </div>
    </div>
</div>
  {% endblock %}