{% extends 'home/base.html' %}
{% block content %}
<div class="page-content">
    <div class="container">
      <div class="row">
        {% include "home/sidebar.html" %}
        <div class="col-xl-9 col-lg-9">
            {% include "courses/course_set.html"%}
           
        <hr>
            <h6>Questions for Assessment: <a href="{% url "courses:edit_assessment"  course.id section.id assessment.id %}">{{ assessment.name }} </a> </h6>
           
            <a href="{% url "courses:create_question" course.id section.id assessment.id %}" class="btn btn-success">add question </a>
         
            <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">question</th>
                    
                    
                  </tr>
                </thead>
                <tbody>
                    {% for question in assessment.questions.all %}
                   
                    
               
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url "courses:edit_question" course.id question.id section.id assessment.id %}">{{ question.text | safe}}</a></td>
                   
                   
                  </tr>
                  {% empty %}
                    <p>No questions available for this assessment.</p>
                {% endfor %}
                </tbody>
              </table>
  
        </div>

      </div>
    </div>
</div>
  {% endblock %}