{% extends 'home/tes.html' %}
{% load form_filters %} 
{% block content %}
  <h2>{{ title }}</h2>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">{{ form.name.label }}</label>
          {{ form.name|add_class:"form-control" }}
          {{ form.name.errors }}
        </div>
        <div class="mb-3">
          <label class="form-label">{{ form.license_type.label }}</label>
          {{ form.license_type|add_class:"form-select" }}
          {{ form.license_type.errors }}
        </div>
        <div class="mb-3">
          <label class="form-label">{{ form.start_date.label }}</label>
          {{ form.start_date|add_class:"form-control" }}
          {{ form.start_date.errors }}
        </div>
        <div class="mb-3">
          <label class="form-label">{{ form.expiry_date.label }}</label>
          {{ form.expiry_date|add_class:"form-control" }}
          {{ form.expiry_date.errors }}
        </div>
        <div class="mb-3">
          <label class="form-label">{{ form.status.label }}</label>
          {{ form.status|add_class:"form-check-input" }}
          {{ form.status.errors }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
        <label class="form-label">{{ form.user_email.label }}</label>
        {{ form.user_email|add_class:"form-control" }}
        {{ form.user_email.errors }}
        </div>
        <div class="mb-3">
          <label class="form-label">{{ form.max_users.label }}</label>
          {{ form.max_users|add_class:"form-control" }}
          {{ form.max_users.errors }}
        </div>
        <div class="mb-3">
          <label class="form-label">{{ form.subscription_type.label }}</label>
          {{ form.subscription_type|add_class:"form-select" }}
          {{ form.subscription_type.errors }}
        </div>
        <div class="mb-3">
          <label class="form-label">{{ form.subscription_frequency.label }}</label>
          {{ form.subscription_frequency|add_class:"form-select" }}
          {{ form.subscription_frequency.errors }}
        </div>
        <div class="mb-3">
          <label class="form-label">{{ form.university.label }}</label>
          {{ form.university|add_class:"form-select" }}
          {{ form.university.errors }}
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">{{ form.description.label }}</label>
      {{ form.description|add_class:"form-control" }}
      {{ form.description.errors }}
    </div>
    <button type="submit" class="btn btn-primary">Simpan</button>
    <a href="{% url 'licensing:subscription_management' %}" class="btn btn-secondary">Batal</a>
  </form>
{% endblock %}